.noUi-base {
  height: 6px;
  width: 100%;
}

.noUi-target {
  background: #fff;
  border: none;
  height: 6px;
}

.noUi-handle {
  width: 22px;
  height: 22px;
  right: -11px;
  top: -8px;
  border-radius: 50%;
  cursor: ew-resize;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-horizontal.noUi-handle {
  top: -7px;
  right: -10px;
}

.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  top: -7px;
  right: -10px;
  width: 20px;
  height: 20px;
}

.noUi-connect {
  background-color: #278d9f;
}

@media (max-width: 1100px) {
  .slider__output {
    min-width: 53px;
  }

  .noUi-handle.noUi-handle-lower,
  .noUi-handle.noUi-handle-upper {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -6px;
  }
}
