.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.footer__year {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

.gitHub_svg {
  transition: all 0.3s linear;
}

.gitHub_svg:hover {
  opacity: 0.7;
}
