body {
  background-color: #dddddd;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

@font-face {
  font-family: "Neucha";
  src: local("Neucha-Regular"), local("Neucha-Regular"),
    url(./assets/fonts/Neucha-Regular.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #121c1e;
}

.main {
  min-width: 100%;
  min-height: calc(100vh - 125px);
  background-image: url(./assets/start_page/main/background.webp);
  background-size: cover;
  background-attachment: fixed;
}

button {
  padding: 0;
}

.footer {
  background-color: #121c1e;
}

.slider__wrapper {
  display: flex;
  align-items: center;
}

.slider__output {
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  height: 33px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278d9f;
}

#slider,
#secondSlider {
  margin: 5% 4%;
  height: 6px;
  width: 100%;
  max-width: 250px;
  border: none;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 1%;
  }
}

@media (max-width: 1100px) {
  .item__select {
    font-size: 20px;
    text-transform: lowercase;
  }
}
